.Write {
  max-width: 600px;
  padding: 0.75em 0;
  margin: 0 auto;
}

.Write .public-DraftStyleDefault-block {
  line-height: 1.6em;
  margin: 1.2em 0 -1.2em;
  padding-bottom: 1.2em;
  position: relative;
  z-index: 1;
  word-spacing: 0.05em;
}

.Write a,
nav a {
  color: #42b983;
  font-weight: 600;
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;

  color: #34495e;
}

nav > div {
  position: relative;
  padding: 1.5rem;
}

.Write--links {
  margin-bottom: 1.5rem;
}

.Write--links > *.sub {
  margin-right: 12px;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-weight: bold;
  font-size: 0.75rem;
}

.Write--title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #08e;
}

nav {
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) transform;
  transform: translateX(-100%);
}

nav.expanded {
  transform: translateX(0);
}

nav button.Write--close {
  display: none;
}

nav button.Write--close {
  left: 100%;
  display: block;
  display: block;
  position: absolute;
  top: 1.5em;
}

nav.expanded button.Write--close {
  display: none;
  right: 0;
}

nav.expanded:hover button.Write--close {
  display: block;
  left: initial;
}
